<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3 >1/5 PODCAST</h3>
Publically viewable data has NOT changed.
<br><br>
{{records_saved}} TEST records saved correctly to <strong>DB</strong> with no errors
<br><br>

<a href="/podcast/{{ link_to_next_save_test_rss }}" style="color:green">NEXT: TEST to podcast rss</a>

<br>
<br>

<a href="/{{link_back_to_change}}">Re-Start</a>

<br><br><br>
<img src="/thesffaudiopodcast120x120.jpg" id="podcast-logo"
        alt="Reading, Short And Deep" width="120" height="120" />


</body>
</html>
