{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "generators": true
  },
  "rules": {
    "no-cond-assign": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-unexpected-multiline": "error",
    "no-unsafe-finally": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "eqeqeq": "error",
    "no-octal": "error",
    "no-with": "error",
    "yoda": "error",
    "no-unused-vars": "error",
    "no-array-constructor": "error",
    "no-return-assign": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  }
}