
<p id='rsd-explain'><img src="{{site_url}}ReadingShortAndDeepLogo200x200.jpg" id="rsd-logo"
        alt="Reading, Short And Deep" width="200" height="200" />
    Share the joys-and sharpen the skills-of deep reading.
    In each weekly half-hour podcast, Eric Rabkin and Jesse Willis mine together the riches of another marvelous short story, poem, or video.
    Each work, freely available on the RSD website, can be read in half an hour or less, and discussed for hours.<br /><br />

    Reading can be one of the most exciting experiences in life, even when we read alone and often much, much more so when we read together.
    A great short story may involve us in situations and actions we&#8217;ve never imagined or commonplaces imagined in profoundly new ways.
    There are characters that seem to us models of good or evil, of wisdom or folly, or of the complexity of human existence. At the end, as
    with life&#8217;s milestone experiences, we may be left with vivid memories, compelling feelings, haunting questions. This all arises
    from the artistry of language, the choosing of just the right word, the viewpoint of just the right narrator, the unfolding of events in
    just the right order. Symbols, once noticed, may explode with meaning. Images, even when not noticed consciously, may, on reflection,
    become such symbols. When we read together, we can&#8217;t help but share our insights, and, in so doing, learn from each other, revise
    our thoughts, deepen our reading. We can see more clearly what we knew was there to be seen and often see what at first, or, alone, was
    not seen at all. And every time we have a revelatory conversation about a story—in a book club, with friends as we leave a movie theater,
    with fellow passengers on a train or bus or plane—we learn more of the depth of the story and more about the essential and astonishing,
    rewarding skill of active reading.<br /><br />

    READING, SHORT AND DEEP (RSD) offers just such conversations, each of about half an hour, a new one each week, about works
    that <a href="http://www-personal.umich.edu/~esrabkin/">Eric Rabkin</a> and <a href="mailto:jessewillis@yahoo.com">Jesse Willis</a> have
    read and discussed together. We&#8217;ve chosen works—mostly short stories, but occasionally poems—that take less than half an hour to
    read. Each work, and our discussion of it, is available here. We find that going deeper into these works together makes them richer for
    us and makes us better readers and more capable people. We invite you to join us.
    <br /><br />
Podcast feed:  <a href="{{site_url}}rsd/rss">{{site_url}}rsd/rss</a>
    <br /><br />
iTunes: <a href="https://itunes.apple.com/ca/podcast/reading-short-and-deep/id1091911684">Subscribe</a>

    <br /> <br />

</p>


