<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h3>4/5</h3>


{{records_saved}} records were saved to <strong>DB</strong>


<br />
<br><br><br>
<a href="/rsd/{{link_next_to_save_real_rss}}" style="color:green">NEXT: save to real rss</a>
<br><br>

<a href="/{{link_back_to_change}}">Re-Start</a>



<br><br><br>
<img src="/ReadingShortAndDeepLogo200x200.jpg" id="rsd-logo"
        alt="Reading, Short And Deep" width="200" height="200" />

</body>
</html>
