<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Show all pages</title>
</head>
<body>


<br><br><br>
{{host_url}}/rsd/table
<br>
<iframe src="{{table_link}}" width="570" height="300"></iframe>



<br><br><br>
{{host_url}}/rsd/podPressPlayer?id=1
<br>
<iframe src="{{player_link_1}}" width="570" height="80"></iframe>

<br><br><br>
{{host_url}}/rsd/rss
<br>
<iframe src="{{rss_link}}" width="800" height="300"></iframe>

</body>
</html>