<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3>{{ type }}</h3>





<br><br>
In the frame below is what the new version will look like. Nothing live has been affected yet.
<br><br>
<a href="/rsd/{{link_next_save_rss_data}}" style="color:green">NEXT: Save spreadsheet data to live version</a>
<br><br>

<a href="/{{link_back_to_change}}">Start again without saving</a>

<br><br>
Notice that entries to be published in the future have no date under the title.
<br>
Examples:
<br>
024 Living Space by Isaac Asimov
<br><br><br>
024 Living Space by Isaac Asimov
<br>
<b>Wednesday, July 20,2016 12:00 AM</b>




<br><br>

<div style="width:800px; text-align:center" >Use FireFox to see RSS feed below</div>
<iframe width="800" height="800" src="/rsd/{{link_to_rss_data}}"></iframe>






</body>
</html>