.ScrollbarLayout_main {
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    position: absolute;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ScrollbarLayout_mainVertical {
    bottom: 0;
    right: 0;
    top: 0;
    -webkit-transition-property: background-color width;
    transition-property: background-color width;
    width: 15px
}

.ScrollbarLayout_mainVertical.public_Scrollbar_mainActive,.ScrollbarLayout_mainVertical:hover {
    width: 17px
}

.ScrollbarLayout_face {
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1
}

.ScrollbarLayout_face:after {
    border-radius: 6px;
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease
}

.ScrollbarLayout_faceVertical {
    left: 0;
    right: 0;
    top: 0
}

.ScrollbarLayout_faceVertical:after {
    height: 100%;
    left: 4px;
    right: 4px;
    top: 0
}

.fixedDataTableLayout_main {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative
}

.fixedDataTableLayout_header,.fixedDataTableLayout_hasBottomBorder {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.fixedDataTableLayout_topShadow,.fixedDataTableLayout_bottomShadow {
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1
}

.fixedDataTableLayout_bottomShadow {
    margin-top: -4px
}

.fixedDataTableLayout_rowsContainer {
    overflow: hidden;
    position: relative
}

.fixedDataTableCellLayout_main {
    border-right-style: solid;
    border-width: 0 1px 0 0;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal
}

.fixedDataTableCellLayout_wrap1 {
    display: table
}

.fixedDataTableCellLayout_wrap2 {
    display: table-row
}

.fixedDataTableCellLayout_wrap3 {
    display: table-cell;
    vertical-align: middle
}

.fixedDataTableCellGroupLayout_cellGroup {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap
}

.fixedDataTableCellGroupLayout_cellGroup>.public_fixedDataTableCell_main {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.fixedDataTableCellGroupLayout_cellGroupWrapper {
    position: absolute;
    top: 0
}

.fixedDataTableColumnResizerLineLayout_mouseArea {
    cursor: ew-resize;
    position: absolute;
    right: -5px;
    width: 12px
}

.fixedDataTableColumnResizerLineLayout_main {
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10
}

body[dir="rtl"] .fixedDataTableColumnResizerLineLayout_main,.fixedDataTableColumnResizerLineLayout_hiddenElem {
    display: none!important
}

.fixedDataTableRowLayout_main {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0
}

.fixedDataTableRowLayout_body {
    left: 0;
    position: absolute;
    top: 0
}

.fixedDataTableRowLayout_rowWrapper {
    position: absolute;
    top: 0
}

.public_fixedDataTable_main,.public_fixedDataTable_header,.public_fixedDataTable_hasBottomBorder {
    border-color: #d3d3d3
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
    font-weight: 700
}

.public_fixedDataTable_header,.public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #f6f7f8;
    background-image: -webkit-linear-gradient(#fff,#efefef);
    background-image: linear-gradient(#fff,#efefef)
}

.public_fixedDataTableCell_main {
    background-color: #fff;
    border-color: #d3d3d3
}

.public_fixedDataTableCell_cellContent {
    padding: 8px 2px 8px 2px
}

.public_fixedDataTableColumnResizerLine_main {
    border-color: #0284ff
}

.public_fixedDataTableRow_main {
    background-color: #fff
}

.public_fixedDataTableRow_highlighted,.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: #f6f7f8
}

.public_Scrollbar_main.public_Scrollbar_mainActive,.public_Scrollbar_main:hover {
    background-color: rgba(255,255,255,.8)
}

.public_Scrollbar_face:after {
    background-color: #c2c2c2
}

.public_Scrollbar_main:hover .public_Scrollbar_face:after,.public_Scrollbar_mainActive .public_Scrollbar_face:after,.public_Scrollbar_faceActive:after {
/*    background-color: #7d7d7d */
    background-color: red
}

html,body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #626466;
    font-family: 'Fira Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1em; /* 100%;  16px; */
    line-height: 1.625
}

button {
    font-size:1em
}

a {
    color: #4183c4;
    text-decoration: none;
    cursor: pointer
}

#media-container{
    padding-bottom: 10px
}

.public_Scrollbar_face:after {
    background-color: red;
}

a>.my-mp3{
    font-size:24px;
    color:red;
    vertical-align:middle;
}

a>.my-pdf{
    font-size:20px;
    color:red;
}

a>.my-you{
    font-size:24px;
    color:red;
}

#rsd-explain{
    color: #202020;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana;
    margin: 0px;
}

#rsd-mobile{
    color: #4183c4;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Tahoma, Verdana;
    margin: 0px;
}


#rsd-logo{
    float:left;
    padding-right:10px;
}