<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3 style='color:green'>PDF Pre-checking spread-sheet</h3>
Publically viewable data has NOT changed.
<br><br>
{{number_pdfs}} records checked out fine, so <strong>cron</strong> job will run with no errors
<br><br>

&nbsp;&nbsp;{{last_pdf}}
<br>
&nbsp;&nbsp;{{penultimate_pdf}}

<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;...
<br><br>


&nbsp;&nbsp;{{second_pdf}}

<br>
&nbsp;&nbsp;{{first_pdf}}

<br><br>


<a href="/{{link_back_to_change}}">Re-Start</a>

<br><br><br>
<img src="/PDFPage160x120b.jpg" id="pdf-logo"
        alt="Reading, Short And Deep" width="160" height="120" />


</body>
</html>
