
<p id='pdf-explain'><img src="{{site_url}}PDFPage160x120b.jpg" id="pdf-logo"
        alt="Reading, Short And Deep" width="160" height="120" />
        
        
The PDFs listed below are, after an extensive search of copyright records, all PUBLIC DOMAIN. 
Those PDFs marked with a little Canadian flag <img src="{{site_url}}ca.svg" class="country-flag" style="margin:0px"> are PUBLIC DOMAIN in Canada. 
You can search any term, title, or publication source in the search field (use the term "Canada" for the Canadian PUBLIC DOMAIN).

    <br /><br />
Podcast feed:  <a href="{{site_url}}pdf/rss">{{site_url}}pdf/rss</a>
    <br /><br /> <br /><br />
</p>

