<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h3>4/5</h3>


{{records_saved}} records were saved to <strong>DB</strong>
<br>
Note that this is a count of "Stories" + "pdfs"

<br />
<br><br><br>
<a href="/pdf/{{link_next_to_save_real_rss}}" style="color:green">NEXT: save to real rss</a>
<br><br>

<a href="/{{link_back_to_change}}">Re-Start</a>


<br><br><br>
<img src="/PDFPage160x120b.jpg" id="pdf-logo"
        alt="Reading, Short And Deep" width="160" height="120" />


</body>
</html>
