<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3 style='color:green'>1/5 PDF</h3>
Publically viewable data has NOT changed.
<br><br>
{{records_saved}} TEST records saved correctly to <strong>DB</strong> with no errors
<br>
Note that this is a count of "Stories" + "pdfs"


<br><br>

<a href="/pdf/{{ link_to_next_save_test_rss }}" style="color:green">NEXT: TEST to pdf rss</a>

<br>
<br>

<a href="/{{link_back_to_change}}">Re-Start</a>

<br><br><br>
<img src="/PDFPage160x120b.jpg" id="pdf-logo"
        alt="Reading, Short And Deep" width="160" height="120" />


</body>
</html>
