<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3>Choose the media type to upload from spreadsheet. Data will be tested before being set live.</h3>

Data with an error cannot go live.<br><br>
<br />
<br />
<img src="/ReadingShortAndDeepLogo200x200.jpg"width="24" height="24" />
<a href="/rsd/{{next_page_save_test_to_db}}" style="color:green">TEST current RSD spreadsheet</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/rsd/{{show_all_output}}">show all RSD output</a>
<hr>

<img src="/thesffaudiopodcast120x120.jpg" width="24" height="24" />
<a href="/podcast/{{next_page_save_test_to_db}}" style="color:green">TEST current PODCAST spreadsheet</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/podcast/{{show_all_output}}">show all PODCAST output</a>

<hr>
<img src="/PDFPage160x120b.jpg" width="32" height="24" />
<a href="/pdf/{{next_page_save_test_to_db}}" style="color:green">TEST current PDF spreadsheet</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/pdf/{{show_all_output}}">show all PDF output</a>



<hr>
<a href="/all">show PDF+RSD+PODCAST tables together</a>


<br />
<br />

Server date time: {{current_date_time}}

<br />
<br />


</body>
</html>
