<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3>Choose the media type to upload from spreadsheet. Data will be tested before being set live.</h3>

Data with an error cannot go live.<br><br>

<a href="/rsd/{{next_page_save_test_to_db}}" style="color:green">NEXT: TEST current rsd spreadsheet</a>


<br />
<br />

Server date time: {{current_date_time}}

<br />
<br />


<a href="{{show_all_output}}">show all rsd output</a>


</body>
</html>