<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h3>Choose the media type to upload from spreadsheet. Data will be tested before being set live.</h3>

Data with an error cannot go live.<br><br>
<br />
<br />

<a href="/rsd/{{next_page_save_test_to_db}}" style="color:green">TEST current RSD spreadsheet</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{show_all_output}}">show all RSD output</a>


<br />
<br />

Server date time: {{current_date_time}}

<br />
<br />


</body>
</html>